<!-- 要素の共通化 挿入する側 -->
{% extends "base.html" %}
{% block content %}
    <h1>ブログアプリケーション</h1>
    <!-- 「/create」にジャンプするボタンを作成（app.pyのルーティングも忘れずに） -->
    <a href="/create" role="button">新規作成画面</a>

    <!-- Posts内すべてのPostを表示する -->
    {% for Post in Posts %}
    <article>
        <h2>{{ Post.title }}</h2>
        <a href="/{{Post.id}}/update" role="button">編集</a>
        <a href="/{{Post.id}}/delete" role="button">削除</a>
        <p>作成日時：{{ Post.created_at }}</p>
        <p>{{ Post.body }}</p>
    </article>
    {% endfor %}

{% endblock %}